/* maurice css */

		/* color checker */
		
				.grey_bg		{
								background-color: #262626;
								}
			
				.soft_grey_txt	{
								 color:#3a3a3a;
								}
								
								
				.white_txt {
								color: white;
								}
		
		
		
		/* pictures style */
		
				.logo {
						margin-top:4%;
						padding:-25px;
						top:-25px;
						bottom:40px;
											}
				
				.miniatures {
								width:120px;
								height: auto;	
									}
				
				.icone {
						width:20px;
						height: auto;
						margin:2px;
						top:25px;
						}
		
		
		
		
		
		/* fonts */
		
		
		
		
		
		
		
		/* align property */
		
		
				.align_center  {
									text-align: center;
						   									}
						   									
		/* input and button */
		
	button {
				height:20px;
				font-size:8px;
				text-align: center;
				border-radius:10px;
				border :0px;
				margin: 1px;
				background-color: green;
											}
				
				.input_style {
									height:20px;
									font-size:8px;
									text-align: center;
									border-radius:10px;
									margin: 1px;
									}
		
		
		/* style cadres et cases */
		
				.bottom_line_block {
										border-bottom:2px solid #3a3a3a;
										}
				
				.left_line_block {
										border-left:1px solid #3a3a3a;
										margin-top:20px;
										}
				
				.top_line_block {
										border-top:1px solid #3a3a3a;
										
										}
				
				
				.cases_barres  {
										border-right: 1px solid white;									
						   									}
						   									
						   					/* size bar container */
						   					
						   					
						   			.size_cont_bar {
						   								height:40px;
						   									   			}
						   									   			
						   			.social_net {
						   							 background-color: #77d800;
						   							 padding: -25px;
						   							 bottom: -10px;
						   							 border-radius:10px;						
						   													}
